<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marv42.ebt.newnote"
    android:versionCode="14"
    android:versionName="0.14">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <application
        android:icon="@drawable/ic_ebt"
        android:label="@string/app_name"
        android:name=".ThisApp"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning">
        <!--tools:replace="android:appComponentFactory"-->
        <activity
            android:name=".EbtNewNote">
            <!--      android:launchMode="singleTask"-->
            <!--      singleInstance does not allow a valid onActivityResult to be returned -->
            <intent-filter>
                <action   android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.marv42.ebt.newnote"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name=".keyboard.SoftKeyboard"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
    </application>
</manifest>
